{% include base_path %}

{% if post.header.teaser %}
  {% capture teaser %}{{ post.header.teaser }}{% endcapture %}
{% else %}
  {% assign teaser = site.teaser %}
{% endif %}

{% if post.id %}
  {% assign title = post.title | markdownify | remove: "<p>" | remove: "</p>" %}
{% else %}
  {% assign title = post.title %}
{% endif %}

<div class="{{ include.type | default: "list" }}__item">
  <article class="archive__item" itemscope itemtype="http://schema.org/CreativeWork">
    {% if include.type == "grid" and teaser %}
      <div class="archive__item-teaser">
        <img src=
          {% if teaser contains "://" %}
            "{{ teaser }}"
          {% else %}
            "{{ teaser | prepend: "/images/" | prepend: base_path }}"
          {% endif %}
          alt="">
      </div>
    {% endif %}

{% unless post.collection == 'publications' %}
<h2 class="archive__item-title" itemprop="headline">
  {% if post.link %}
    <a href="{{ post.link }}">{{ title }}</a> <a href="{{ base_path }}{{ post.url }}" rel="permalink"><i class="fa fa-link" aria-hidden="true" title="permalink"></i><span class="sr-only">Permalink</span></a>
  {% else %}
    <a href="{{ base_path }}{{ post.url }}" rel="permalink">{{ title }}</a>
  {% endif %}
</h2>
{% endunless %}

{% if post.read_time %}
  <p class="page__meta"><i class="fa fa-clock" aria-hidden="true"></i> {% include read-time.html %}</p>
{% endif %}

{% if post.collection == 'teaching' %} 
  {% assign teaching_parts = "" %} 

  {% if post.type and post.type != "" %} 
    {% assign teaching_parts = teaching_parts | append: post.type %} 
  {% endif %}

  {% if post.venue and post.venue != "" %}
    {% if teaching_parts != "" %} {% assign teaching_parts = teaching_parts | append: ", " %} {% endif %} 
    {% assign teaching_parts = teaching_parts | append: "<i>" | append: post.venue | append: "</i>" %} 
  {% endif %}

  {% if post.date %} 
    {% assign formatted_year = post.date | date: "%Y" %} 
    {% if teaching_parts != "" %} {% assign teaching_parts = teaching_parts | append: ", " %} {% endif %} 
    {% assign teaching_parts = teaching_parts | append: formatted_year %} 
  {% endif %}

  {% if teaching_parts != "" %}
    <p> {{ teaching_parts }} </p> 
  {% endif %}

{% elsif post.collection == 'research' %} 
  {% if post.venue and post.venue != "" and post.date and post.location and post.location != "" %}
    <p> {{ post.venue }}, {{ post.date | date: "%Y" }}, {{ post.location }} </p> 
  {% endif %}

{% elsif post.collection == 'publications' %} 
  {% if post.excerpt %} 
    <p class="archive__item-excerpt" itemprop="description">
      {{ post.excerpt | markdownify | remove: '<p>' | remove: '</p>' -}}{%- assign download_links = "" -%}
      {%- if post.paperurl -%}
        {%- assign download_links = download_links | append: '<a href="' | append: post.paperurl | append: '">PDF</a>' -%}
      {%- endif -%}
      {% if post.slidesurl %}
         {% if download_links != "" %}{% assign download_links = download_links | append: ' | ' %}{% endif %}
         {% assign download_links = download_links | append: '<a href="' | append: post.slidesurl | append: '">Slides</a>' -%}
      {% endif %}
      {% if post.bibtexurl %}
         {% if download_links != "" %}{% assign download_links = download_links | append: ' | ' %}{% endif %}
         {% assign download_links = download_links | append: '<a href="' | append: post.bibtexurl | append: '">Bibtex</a>' -%}
      {% endif %}

      {%- if download_links != "" -%}
        &nbsp;({{ download_links }})
      {%- endif -%}
    </p>
  {% endif %} 

{% else %} 
    {% if post.date %}
        <p class="page__meta"><i class="fa fa-fw fa-calendar" aria-hidden="true"></i> {{ site.data.ui-text[site.locale].date_label | default: "Published:" }} <time datetime="{{ post.date | default: "1900-01-01" | date_to_xmlschema }}">{{ post.date | default: "1900-01-01" | date: "%B %d, %Y" }}</time></p>
    {% endif %}
    {% if post.excerpt %}
        <p class="archive__item-excerpt" itemprop="description">{{ post.excerpt | markdownify }}</p>
    {% endif %}
    {% if post.excerpt %}
       {% if site.read_more == 'enabled' %}
         <p><a href="{{ base_path }}{{ post.url }}" rel="permalink"> {{ site.data.ui-text[site.locale].read_more | default: "Read more" }} <span class="archive__item-icon"><i class="fa fa-angle-double-right" aria-hidden="true"></i></span></a></p>
       {% endif %}
    {% endif %}

{% endif %}

  </article>
</div>
